<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>share</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>ConnectionPool</servlet-name>
  	<servlet-class>com.main.Connection_Pool</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
  	<servlet-name>mainControl</servlet-name>
  	<servlet-class>com.main.main_control</servlet-class>
  	<init-param>
  		<param-name>ConfigFile</param-name>
  		<param-value>C:\users\USER506-15\eclipse-workspace\web6\WebContent\WEB-INF\main.properties</param-value>
  	</init-param>
  	<load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>mainControl</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>exControl</servlet-name>
  	<servlet-class>com.exchange.ex_control</servlet-class>
  	<init-param>
  		<param-name>ConfigFile</param-name>
  		<param-value>C:\users\USER506-15\eclipse-workspace\web6\WebContent\WEB-INF\exchange.properties</param-value>
  	</init-param>
  	<load-on-startup>3</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>exControl</servlet-name>
  	<url-pattern>*.chg</url-pattern>
  </servlet-mapping>
  
</web-app>